<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.totalindo.bmh"
    version   = "1.0.0">

<name>BMH</name>

<description>
BMH Mobile Apps
</description>

<author href="https://franzramadhan.com" email="franz.ramadhan@gmail.com">
Totalindo
</author>

<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />

<plugin name="File" value="org.apache.cordova.FileUtils" />
<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />

<icon src="assets/icon/hdpi.png" density="hdpi" />
<icon src="assets/icon/mdpi.png" density="mdpi" />
<icon src="assets/icon/xxhdpi.png" density="xxhdpi" />
<icon src="assets/icon/xhdpi.png" density="xhdpi" />
<icon src="assets/icon/xxxhdpi.png" density="xxxhdpi" />


</widget>
